body {
  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
}

#form {

  //align-items: center;
}

#input {
  //flex-grow: 3;
}

#add-button, #del-button, #del-selected-button {
  flex-grow: 2;
  margin: 5px;
}

.selected {
  color: darkgrey;
}
.gify{
  display: flex;
  flex-wrap: wrap;
}
.gifs{
  align-self: center;
  height: 300px;
  width: 300px;
}
